/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*** background-card ***/

.background-card-content {
  position: inherit;
  margin: 1% 3%;
  display: flex;
  flex-direction: row;
}

.background-card-top-content {
  width: 50%;
}

#background-card-middle {
  display: block;
}

#background-card-bottom {
  display: block;
}

h5 {
  font-weight: normal;
}

#about-button {
  color: black;
  background-color: white;
}
