* {
  padding: 0;
  margin: 0;
}

#background-image {
  position: absolute;
  background-image: url("../../imgs/pages/background.jpg");

  /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */

  /* Full height */
  height: 100vh;
  width: 100%;

  z-index: -10;
}

#navbar-top {
  width: 100%;
  height: 30%;
  background-color: rgb(172, 172, 172);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-top-content {
  margin: 0 40px;
  display: inline-block;
  vertical-align: middle;
}

#navbar-profile {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.navbar-top-button {
  border-radius: 20px;
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: black;
  width: 20vh;
  height: 8vh;
  min-width: fit-content;
}

.navbar-top-button {
  transition-duration: 0.4s;
}

.navbar-top-button:hover {
  background-color: white; /* Green */
  color: black;
}

#profile-picture {
  height: 100px;
}

#background-card {
  margin: 5% 5%;
  background-color: rgba(172, 172, 172);
  text-align: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.professional-social-media-links {
  display: inline-block;
  vertical-align: middle;
}

#resume-link {
  border-radius: 20px;
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: black;
  width: fit-content;
  height: fit-content;
}

.logo {
  width: 25px;
  filter: grayscale(100%);
}
