:root {
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0),
      rgb(10, 10, 10, 1)
    ),
    url("../../imgs/pages/new/about.jpg");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(10, 10, 10);
  color: #fff;
}

#left-main-container {
  width: 24vw;
  padding: 4vh 3vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: var(--background-image) center center;
  background-size: cover !important;
  background-repeat: no-repeat;
  position: fixed;
  color: #fff !important;
}

#right-main-container {
  width: 70%;
}

body {
  display: flex;
}

#profile-picture {
  width: 180px;
  height: 180px;
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 5px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: transparent;
}

#name {
  margin: 10px 2px;
  font-size: 24px;
  text-align: left;
  background-color: transparent;
}

#name a {
  text-decoration: none;
  font-size: 20px;
}

#about {
  font-size: 18px;
  text-align: left;
}
#about span {
  margin: 1vh 0px;
}

#about span img {
  width: 16px;
}

.filter-white {
  color: white;
}

.socials {
  color: #fff;
  text-decoration: none;
  margin: 3vh 0px !important;
  background-color: transparent;
}

.socials span {
  display: inline-block !important;
  margin-right: 2vw !important;
  font-weight: normal !important;
}

.logo {
  color: white;
  background-color: transparent;
  vertical-align: middle;
}

#resume-link {
  display: inline-block;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  border-radius: 8px;
  padding: 5px 6px;
  line-height: 1;
  transition: transform 200ms, background 200ms;
}

.socials span:hover {
  transform: translateY(-1px);
}
